name: Build and deploy backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read 

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: npm install dependencies
        working-directory: backend
        run: npm install

      - name: Build backend
        working-directory: backend
        run: npm run build

      - name: Prepare deployment folder
        run: |
          mkdir deploy
          cp -r backend/dist deploy/
          cp backend/package*.json deploy/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-deploy
          path: deploy

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write 
      contents: read 

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: backend-deploy
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
           creds: ${{ secrets.AZURE_SP_CREDS }}
    
      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'bluepeak-bank-backend'
          slot-name: 'Production'
          package: .






